{% extends 'base.html' %}
{% block page_title %}Genre{% endblock page_title %}
{% block body %}

<h1>Detail Genre: {{ genre.get_name_display }}</h1>

{% if genre.description %}
    <p>Description: {{ genre.description }}</p>
{% endif %}

{% if genre.movies.all %}
    <p>Filmy:</p>
    <ul>
        {% for movie in genre.movies.all %}
            <li>{{ movie.name }}</li>
        {% endfor %}
    </ul>
{% endif %}



<button onclick="goBack()">Back</button>

<script>
function goBack() {
  window.history.back();
}


</script>

{% endblock body %}