body {
    background-color: lightskyblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    color: darkred;
    text-decoration: none;
}

h1:link {
    color:black;
}